<div class="row">
  <div class=<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">


    <h1>Users#new</h1>
    <p>Find me in app/views/users/new.html.erb</p>
    <%= render 'shared/flash' %>
    <%= form_for @user do |f| %>
      <%= f.text_field :email, placeholder: "Enter your email" %>
      <%= f.text_field :name, placeholder: "Enter your username" %>
      <%= f.password_field :password, placeholder: "Enter a password" %>
      <%= f.submit %>
    <% end %>
    </div>
</div>
