<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <h1>Posts</h1>
  <%= link_to '', posts_new_path, class: 'btn btn-default glyphicon glyphicon-plus pull-right' %>
</div>

<%= render 'shared/flash' %>


<% @posts.each do |p| %>
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
  <div class="well well-sm">
  <h2><%= p.title %></h2>
  <a href=<%= p.link %>><h3><%= p.link %></h3></a>
  <h3>Posted by <%= @users.find_by_id(p.user_id).email %></h3>
  </div>
</div>
<% end %>
