<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= form_for @post do |f| %>
<%= f.text_field :title %>
<%= f.text_field :link %>
<%= @post.user_id = @current_user.id %>
<%= f.submit %>
<% end %>
